@font-face 
{
    font-family: 'roboto';
    src: url('roboto.ttf');
}
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;  
    text-transform: uppercase;
}
html, body 
{
    width: 100%;
    height: 100%;
    overscroll-behavior: contain;
}
#contenedor
{    
    display: grid;
    grid-template-areas:    '.   informacion    .'
                            '.   pdf            .';
    grid-template-rows: auto auto;
    grid-template-columns: auto minmax(auto, 600px) auto;    
}
#informacion 
{
    grid-area: informacion;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#pdf 
{
    grid-area: pdf;
    display: flex;
    flex-direction: column; 
    align-items: center;
}
/* INFORMACION */
#tituloPagina
{    
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.box 
{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.box label 
{
    height: 30px;
    width: 120px;
    display: flex;
    align-items: center;
}
.box input
{
    height: 30px;
    width: 240px;
    font-size: 13px;
    padding-left: 3.5px;
}
.box select 
{
    height: 30px;
    width: 240px;
    font-size: 13px;
}
.boton 
{
    width: 110px;
    height: 30px;
    cursor: pointer;
    border: 0.1px solid #777777;
}
.boxOpciones 
{ 
    width: 360px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}
#botonLimpiar 
{
    background-color: #cf1322;
    color: #ffffff;
}
#botonCrear 
{
    background-color: #389e0d;
    color: #ffffff;
}
#botonAgregar 
{
    background-color: #096dd9;
    color: #ffffff;
}
/* BUSCAR CODIGO */
#codigo 
{
    width: 205px;
    margin-right: 5px;
}
#botonBuscar 
{
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 0.1px solid #cccccc; 
    background-color: #531dab;
    color: #ffffff;
}
/* PDF */
#tituloInforme 
{
    font-size: 24px;
    font-weight: bold;
}
#tituloSemana 
{
    font-size: 24px;
    font-weight: bold;
}
#tituloDistribuidor 
{
    font-size: 20px;
    margin-bottom: 15px;
}
#total 
{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}
/* TABLAS PERSONALIZACION */
#tabla
{
    width: 100%;
}
table
{        
    border-collapse: collapse;
    margin-bottom: 15px;
}
table th, table td 
{
    border: 0.1px solid #000000;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
}
.col-1
{    
    text-align: center;
}
.col-2
{
    width: 100%;
    text-align: left;  
}
.col-3
{    
    text-align: right;   
}
.col-4
{    
    text-align: center; 
}
thead .col-1, thead .col-2, thead .col-3, thead .col-4
{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;     
}
.botonEliminar 
{    
    cursor: pointer;
    background: none;
    border: none;
    padding: 2px;
}
.botonEliminar i 
{
    font-size: 14px; 
}
/* OCULTOS */
#boxObservacion 
{
    display: none;
}
#tituloInforme 
{
    display: none;
}
#tituloSemana 
{
    display: none;
}
#tituloDistribuidor 
{
    display: none;
}
/* MODAL */
#modal 
{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0; 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;       
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.8);
    overflow: auto;
}
.modalContenido 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    max-width: 600px;
    padding: 10px;
    border: 0.1px solid #000000; 
    margin-top: 10px;  
}
#tituloConsulta 
{
    display: flex;
    font-size: 18px;
    margin-bottom: 10px;
}
#boxConsulta 
{
    display: flex;
    flex-direction: row;
}
#consulta 
{
    height: 30px;
    width: 240px;
    text-transform: uppercase;
    padding-left: 3.5px;    
}
#botonConsulta 
{
    width: 75px;
    height: 30px;
    cursor: pointer;
    border: 0.1px solid #cccccc; 
    background-color: #531dab;
    color: #ffffff;
    margin-left: 5px;   
}
#tablaConsulta 
{
    width: 100%;
    max-width: 700px;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
}
#tablaConsulta thead th 
{
    text-align: center;
}
#tablaConsulta th, #tablaConsulta td 
{
    border: 0.1px solid #000000;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    text-transform: uppercase;
}
#tablaConsulta th:nth-child(1), td:nth-child(1) 
{
    width: 70px;
}
#tablaConsulta td:nth-child(1) 
{
    text-align: center;
}
#tablaConsulta th:nth-child(2), td:nth-child(2) 
{
    min-width: 110px;
}
#tablaConsulta td:nth-child(2) 
{
    text-align: left;
}
#tablaConsulta th:nth-child(3), td:nth-child(3) 
{
    width: 40px;
}
#tablaConsulta td:nth-child(3) 
{
    text-align: center;
}
.agregar 
{
    cursor: pointer;
    background: none;
    border: none;
    padding: 2px;
}
.agregar i 
{
    font-size: 12px;
}
#botonCerrar
{    
    height: 30px;
    background-color: #cf1322;
    color: #ffffff;
}
#modal
{    
    display: none;
}